DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET=
AWS_REGION=

# Must be a Base64-encoded string representing at least 32 bytes (256 bits).
# Generate with: openssl rand -base64 32
JWT_SECRET=
JWT_EXPIRY_MS=

PYTHON_SERVICE_URL=http://localhost:8000
